<h2 align="center" class="mt-4"> Update Post Page </h2>

<form  class="m-4" (ngSubmit)="updatePost()">
  <div class="form-group">
    <label for="posttitle">Post title</label>
    <input [(ngModel)]="title" name="title" type="text" class="form-control" id="posttitle"  placeholder="Enter name">
  </div>


  <div class="form-group">
    <label for="postautor">Autor</label>
    <select id="postautor" [(ngModel)]="author" name="autor" type="number" class="form-select">
      <option selected></option>
      <option *ngFor="let user of users"  value={{user.id}}>{{user.full_name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="postimage">Image</label>
    <input  [(ngModel)]="image" name="image" type="text" class="form-control" id="postimage"  placeholder="Image URL">
  </div>

  <div class="form-group">
    <label for="postresume">Post resume</label>
    <textarea  [(ngModel)]="resume" name="resume" type="text" class="form-control" id="postresume"  placeholder="Resume"></textarea>
  </div>

  <div class="form-group">
    <label for="postcontent">Content</label>
    <textarea  [(ngModel)]="content" name="content" type="text" class="form-control" id="postcontent"  placeholder="Content"></textarea>
  </div>



  <button type="submit" class="btn btn-dark mt-4 mt-4">Submit</button>
</form>
